* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-weight: 500;
}

body{
    opacity: 0; /* Awalnya tidak terlihat */
    font-family: Arial, sans-serif;
    position: relative;
    line-height: 1.6;
    background-color: #1e1e1e;
    transform: translateY(50px); /* Awalnya di bawah layar */
    transition: opacity 1s ease-in-out, transform 1s ease-in-out;
}
body.page-loaded {
    opacity: 1; /* Menjadi terlihat */
    transform: translateY(1); /* Kembali ke posisi normal */
}

.add-styles{
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke: 1px #fff;
}
.blur{
    position: absolute;
    box-shadow: 0 0 1000px 50px #4285f4;
    z-index: -100;
}
.blur2{
    position: absolute;
    box-shadow: 0 0 1000px 50px #4285f4;
    z-index: -100;
    right: 10%;
}
.container{
    max-width: 1200px;
    margin: auto;
    padding: 5rem 2rem;
}
i{  
    padding: 10%;
    width: 100px;
    height: 200px;
    background-color: transparent;
}
/**header**/
header{
    max-width: 1300px;
    margin: auto;
    max-height: 10rem;
    display: flex;
    flex-wrap: wrap;
    background-color: #ebdddd;
    border-bottom-right-radius: 200%;
}
.profil{
    position: relative;
    background-color: #333;
    height: 100px;
    width: 100px;
    border-top: 1px solid #ea4335;
    border-right: 1px solid #4285f4;
    border-bottom: 1px solid #34a853;
    border-left: 1px solid #fbbc05;
    border-radius: 50%;
}
header h1{
    text-align: center;
    padding-top: 1.5rem;
}
header h1 .span-1{
    -webkit-text-fill-color: black;
    -webkit-text-stroke: 1px #4285f4;
}
header h1 .span-2{
    -webkit-text-fill-color: red;
    -webkit-text-stroke: 1px #4285f4;
}
header h1 span{
    background: transparent;
}
header h1 span:hover{
    background: pink;
}

/**navbar**/
.nav-bar{
    max-width: 1300px;
    margin: auto;
    position: relative;
    margin: auto;
    display: flex;
    justify-content: end;
    flex-wrap: wrap;
}
.nav-bar ul li{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2rem;
}
.nav-bar ul li a{
    color: #00ffcc;
    text-decoration: none;
    list-style: none;
    border: 1px transparent;
    padding: .5rem;
}
.nav-bar ul li a:hover{
    transition: 0.3s ease-in-out;
    background-color: #4285f4;
    color: white;
    box-shadow:  0 0 10px #00ffcc, 0 0 20px #00ffcc, 0 0 30px #00ffcc;
}

/**container(konten)**/
.about-1{
    max-width: 1200px;
    margin: auto;
    position: relative;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    opacity: 0; /* Awalnya tidak terlihat */
    transform: translateY(50px); /* Geser sedikit ke bawah */
    transition: opacity 1s ease-out, transform 1s ease-out;
}

.about-1.visible {
    opacity: 1; /* Menjadi terlihat */
    transform: translateY(0); /* Kembali ke posisi normal */
}

.about-1 img{
    width: 100%;
    align-items: center;
}

.about-1 .about h2{
    font-size: 2.5rem;
    margin-bottom: .5rem;
    color: #e0e0e0;
}
.about-1 .about p{
    font-size: 2rem;
    margin-top: 1rem;
    color: #b0b0b0;
}

/**portofolio**/
.portfolio{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    opacity: 0; /* Awalnya tidak terlihat */
    transform: translateY(50px); /* Geser sedikit ke bawah */
    transition: opacity 1s ease-out, transform 1s ease-out;
}

.portfolio.visible {
    opacity: 1; /* Menjadi terlihat */
    transform: translateY(0); /* Kembali ke posisi normal */
}


.portfolio-item{
    width: 80%;
    height: 80%;
    margin: 1rem;
    margin-bottom: 2rem;
    border: 1px solid;
    border-radius: 20px;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.7);
    display: grid;
    align-items: center;
    background-color: #121212;
}
.portfolio-item:hover{
    width: 90%;
    height: 90%;
    background-color: #333;
    border: 1px #464646;
    transition: .3s ease-in-out;
    box-shadow:  0 0 10px #00bcd4, 0 0 20px #00bcd4, 0 0 30px #00bcd4;
}

.portfolio .portfolio-item h3{
    border-bottom: 1px #434243 dashed;
    padding: 1rem;
    color: #434242;
}
.portfolio .portfolio-item h3:hover{
    color: #fff;
    border-bottom: 1px #00ffcc dashed;
}

.portfolio .portfolio-item p{
    font-size: 1.2rem;
    padding: .5rem;
    padding-bottom: 5rem;
    display: flexbox;
    color: #434242;
    border-bottom: 1px #434242 dashed;
}
.portfolio .portfolio-item p:hover{
    color: #00ffcc;
    border-bottom: 1px #00ffcc dashed;
}
.portfolio .portfolio-item a{
    width: 50%;
    margin-bottom: 2rem;
    margin: auto;
    text-align: center;
    align-items: center;
    padding-top: 20px;
    list-style: none;
    text-decoration: none;
    color: #fff;
}
.portfolio .portfolio-item a:hover{
    color: #4285f4;
    text-decoration: underline;
}
.h2-portfolio{
    margin-top: 3rem;
    font-size: 2.5rem;
    text-align: center;
    color: #e0e0e0;
}
.portfolio h3{
    font-size: 1.5rem;
}
/**services**/
.services{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    opacity: 0; /* Awalnya tidak terlihat */
    transform: translateY(50px); /* Geser sedikit ke bawah */
    transition: opacity 1s ease-out, transform 1s ease-out;
}

.services.visible {
    opacity: 1; /* Menjadi terlihat */
    transform: translateY(0); /* Kembali ke posisi normal */
}


.services h2{
    color: #00ffcc;
    font-size: 2rem;
    font-weight: 600;
}
.services ul{
    margin-bottom: 5rem;
}
.services ul li{
    color: #00ffcc;
}
.li-services{
    list-style: none;
    border: 1px transparent;
    font-size: 2rem;
    transition: .3s ease-in-out;
}
.li-services:hover{
    list-style: none;
    font-size: 1.5rem;
    position: relative;
    transition: .3s ease-in-out;
}

.li2-services{
    list-style: none;
}
.li2-services a{
    border: 1px solid;
    border-radius: 20%;
    transition: .3s ease-in-out;
}
.li2-services .i:hover{
    background: linear-gradient(45deg, #833AB4, #FD1D1D, #F56040, #FCAF45);
    color: aqua;
}
.li2-services .x:hover{
    background: black;
}
.li2-services .f:hover{
    background: blue;
}
.services ul li a{
    text-decoration: none;
    color: #00ffcc;
    font-size: 1.5rem;
    padding-right: 1rem;
}
.services ul li a:hover{
    color: #4285f4;
}

/**conntact-form**/
.contact-form{
    display: flex;
    flex-direction: column;
    justify-items: center;
    text-align: center;
    align-items: center;
    opacity: 0; /* Awalnya tidak terlihat */
    transform: translateY(50px); /* Geser sedikit ke bawah */
    transition: opacity 1s ease-out, transform 1s ease-out;
}

.contact-form.visible {
    opacity: 1; /* Menjadi terlihat */
    transform: translateY(0); /* Kembali ke posisi normal */
}


.contact-form textarea{
    align-items: center;
}
.contact-form h2{
    color: #fff;
    margin-bottom: 1rem;
}

.contact-form input,
.contact-form textarea {
    width: 50%;
    font-size: 6rem;
    margin-bottom: 15px;
    padding: 10px;
    font-size: 16px;
    border: 1px transparent #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    transition: 0.3 ease-in-out;
}
.contact-form textarea {
    resize: none; /* Menghilangkan opsi resize pada textarea */
}

.contact-form input:hover{
    width: 60%;
    border-color: #00ffcc;
    outline: none;
    transition: .3s ease-in-out;
    transform: scale(0.9);
}
.contact-form textarea:hover{
    width: 60%;
    transform: scale(0.9);
    transition: 0.3s ease-in-out;
}

.contact-form button {
    display: block;
    width: 20%;
    margin-left: 40%;
    padding: 10px;
    background-color: #007BFF;
    color: #fff;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.contact-form button:hover {
    transition: .2s ease-in;
    background-color: #0056b3;
    width: 15%;
    margin-left: 42.5%;
}

/**footer**/

footer{
    position: relative;
    text-align: center;
    color: #00ffcc;
    font-size: 1.5rem;
}

/**responsive code**/
@media (width < 900px) {
    .about-1{
        grid-template-columns: repeat(1, 1fr);
    }
    .about-1 img{
        grid-area: 1/1/2/2;
    }
    footer{
        font-size: 1rem;
    }
}

@media (width < 600px){
    .portfolio{
        grid-template-columns: repeat(1, 1fr);
        font-size: 0.5rem;

    }
    .services{
        grid-template-columns: repeat(1, 1fr);
    }
    
}